@model IEnumerable<Exemplo.IPagedList.Models.Pessoa>
@using X.PagedList.Mvc;
@using X.PagedList;

@{
    ViewBag.Title = "Index";
}

<h2>Listagem</h2>

<hr />

<p>
    @Html.ActionLink("Novo cadastro", "Create", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm(FormMethod.Get))
{
    <div class="form-inline">
        Filtrar por nome: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control"})

        Quantidade de registros:  @Html.DropDownList("items", new SelectList(ViewBag.dropdown, "Value", "Text", ViewBag.dropdownselecionado), new{ @class = "form-control" })

        <input type="submit" value="Procurar" class="btn btn-primary" />
    </div>
}

<br />

<table class="table table-bordered table-hover table-striped table-condensed table-responsive">
    <tr>
        <th>
        @Html.CheckBox("chkMarcarTodos")
        </th>
        <th>
            Id
        </th>
        <th>
            @Html.ActionLink("Nome", "Index", new { sortOrder = ViewBag.NomeSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Profissão", "Index", new { sortOrder = ViewBag.ProfissaoSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Endereço", "Index", new { sortOrder = ViewBag.EnderecoSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("E-mail", "Index", new { sortOrder = ViewBag.EmailSortParam, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th style="text-align:center">
            Controles
        </th>
       
    </tr>

    @foreach (var item in ViewBag.PagePessoas)
    {
        <tr>
            <td>@Html.CheckBox("chk", new {  id = item.PessoaId})</td>
            <td>@item.PessoaId</td>
            <td>@item.Nome</td>
            <td>@item.Profissao</td>
            <td>@item.Endereco</td>
            <td>@item.Email</td>

            
            <td style="text-align:center">
                <button onclick="location.href='@Url.Action("Edit", new { id = item.PessoaId})';return false;" class="btn btn-primary">
                    <span class="glyphicon glyphicon-edit">
                        Editar
                    </span>
                </button>

                <button onclick="location.href='@Url.Action("Details", new { id = item.PessoaId})';return false;" class="btn btn-info">
                    <span class="glyphicon glyphicon-info-sign">
                        Detalhes
                    </span>
                </button>

                <button name="excluir" id=@item.PessoaId onclick="location.href='@Url.Action("Delete", new { id = item.PessoaId})';return false;" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash red">
                        Excluir
                    </span>
                </button>
            </td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)ViewBag.PagePessoas, page => Url.Action("Index", new { page }))

@section Scripts{
    
    <script>
        $("#chkMarcarTodos").on("click", function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
        })
    </script>

}